:root{
    --zextra-background : none ;
    --zextra-forground : none ;
    --zextra-currentLine : none ;
    --zextra-selection : none ;
    --zextra-comment : none ; 
    --zextra-cyan : cyan ;
    --zextra-green : green ;
    --zextra-orange : orange ; 
    --zextra-pink : pink ;
    --zextra-purple : purple ;
    --zextra-red : red ;
    --zextra-yellow : yellow ;
}