  .draggable {
    display: inline-block;
    touch-action: none;
    user-select: none;
    cursor: grab;
    will-change: transform;
    background-color: red;
  }

  .draggable:active {
    cursor: grabbing;
  }