  .zextra-draggable {
    display: inline-block;
    touch-action: none;
    user-select: none;
    cursor: grab;
    will-change: transform;
  }

  .zextra-draggable:active {
    cursor: grabbing;
  }